<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.app.mapper.BczbMapper">

    <select id="getBczbList" resultType="map">
        <include refid="com.base.baseMapper.pageStart"/>
            select * from zjzx.APP_ZB_BC where 1=1
            <if test="dwdm != null">
                and dwdm=#{dwdm}
            </if>
            <if test="c1 != null">
                and zbmc like '%'||#{c1}||'%'
            </if>
        <include refid="com.base.baseMapper.pageEnd"/>
        order by rksj desc
        <if test="sort != null">
            ${sort}
        </if>
    </select>
    <select id="getZhzbList" resultType="java.util.HashMap">
        <include refid="com.base.baseMapper.pageStart"/>
        select to_char(rksj,'yyyymmdd hh24:mi:ss') sj,decode(status,'1','已下发','未下发') zt,w.* from zjzx.APP_ZB_BCZH w where 1=1
        <if test="dwdm != null">
            and deptid=#{dwdm}
        </if>
        <if test="c1 != null">
            and name like '%'||#{c1}||'%'
        </if>
        <include refid="com.base.baseMapper.pageEnd"/>
        order by rksj desc
        <if test="sort != null">
            ${sort}
        </if>
    </select>
    <select id="getZhzbOne" resultType="java.util.HashMap">
        select * from zjzx.app_zb_bczh where id=#{c1}
    </select>
    <select id="getZhzbRelationList" resultType="java.util.HashMap">
        select b.* from zjzx.APP_ZB_BCRALATION a,zjzx.APP_ZB_BC b where a.bczbid=b.id and  a.zhzbid=#{c1}
    </select>
    <update id="saveBczbZh">
        DECLARE
        v_id varchar2(100):='';
        BEGIN
        select sys_guid() into v_id from dual;
        insert into zjzx.APP_ZB_BCZH (id,name,bz,userid,deptid,rkry)
        values(v_id,#{NAME},#{BZ},#{USERID},null,null);
        <foreach collection="list" item="record" index="index">
            update zjzx.APP_ZB_BC set status='1' where id=#{record.ID};
            insert into zjzx.APP_ZB_BCRALATION (zhzbid,bczbid) values(v_id,#{record.ID});
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="updBczbZh">
        BEGIN
        update zjzx.APP_ZB_BCZH
        set name=#{NAME},bz=#{BZ},userid=#{USERID} where id=#{ID};
        update zjzx.APP_ZB_BC set status=null where id
        in (select bczbid from zjzx.APP_ZB_BCRALATION where zhzbid=#{ID});
        delete from zjzx.APP_ZB_BCRALATION where zhzbid=#{ID} ;
        <foreach collection="list" item="record" index="index">
            update zjzx.APP_ZB_BC set status='1' where id=#{record.ID};
            insert into zjzx.APP_ZB_BCRALATION (zhzbid,bczbid) values(#{ID},#{record.ID});
        </foreach>
        COMMIT;
        END;
    </update>
    <update id="xfBczbZh">
        BEGIN
        <foreach collection="list" item="record" index="index">
            update zjzx.APP_ZB_BCZH  set status='1' where id=#{record.ID};
        </foreach>
        COMMIT;
        END;
    </update>

    <delete id="delBczbZh">
        BEGIN
        <foreach collection="list" item="record" index="index">
            delete from  zjzx.APP_ZB_BCZH where id=#{record.ID};
            update zjzx.APP_ZB_BC set status=null where id
            in (select bczbid from zjzx.APP_ZB_BCRALATION where zhzbid=#{record.ID});
            delete from  zjzx.APP_ZB_BCRALATION where zhzbid=#{record.ID};
        </foreach>
        COMMIT;
        END;
    </delete>
</mapper>