<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.app.mapper.GdzcMapper">
    <sql id="Base_Column_List">
        ID, DL1, DL2, FLBM, LB, ZCMC, ERPBM, ZCBM, SL, ZZPH, SYDWMC, SYDWDM, ZGDWMC, ZGDWDM,
    FZRMC, FZRDM, GGXH, ZBHRQ, ZBHRQ2, YSYNX, ZCYZ, ZJNX, YXZT, DD, BZ, YLZD1, YLZD2,
    YLZD3, YLZD4,ZT
    </sql>
    <!--<insert id="insertGdzc">
        start transaction ;
        <foreach collection="list" item="record" index="index">
            <choose>
                <when test="record.zcmc!=null and record.zcmc!=''">
                    set @id:=uuid();
                    insert into app_gdzc (ID, DL1, DL2,
                    FLBM, LB, ZCMC, ERPBM,
                    ZCBM, SL, ZZPH, SYDWMC,
                    SYDWDM, ZGDWMC, ZGDWDM,
                    FZRMC, FZRDM, GGXH,
                    ZBHRQ, ZBHRQ2, YSYNX,
                    ZCYZ, ZJNX, YXZT, DD,
                    BZ, YLZD1, YLZD2, YLZD3,
                    YLZD4,DEPTID, SUBMITTER,ISDEL,ZT)
                    values (@id, #{record.dl1,jdbcType=VARCHAR}, #{record.dl2,jdbcType=VARCHAR},
                    #{record.flbm,jdbcType=VARCHAR}, #{record.lb,jdbcType=VARCHAR}, #{record.zcmc,jdbcType=VARCHAR}, #{record.erpbm,jdbcType=VARCHAR},
                    <choose>
                        <when test="record.zcbm!=null and record.zcbm!=''">
                            #{record.zcbm,jdbcType=VARCHAR},
                        </when>
                        <otherwise>
                            concat('GD',nextval('seq_zcbm')),
                        </otherwise>
                    </choose>
                    #{record.sl,jdbcType=VARCHAR}, #{record.zzph,jdbcType=VARCHAR}, #{record.sydwmc,jdbcType=VARCHAR},
                    #{record.sydwdm,jdbcType=VARCHAR}, #{record.zgdwmc,jdbcType=VARCHAR}, #{record.zgdwdm,jdbcType=VARCHAR},
                    #{record.fzrmc,jdbcType=VARCHAR}, #{record.fzrdm,jdbcType=VARCHAR}, #{record.ggxh,jdbcType=VARCHAR},
                    #{record.zbhrq,jdbcType=VARCHAR}, #{record.zbhrq2,jdbcType=DATE}, #{record.ysynx,jdbcType=VARCHAR},
                    #{record.zcyz,jdbcType=VARCHAR}, #{record.zjnx,jdbcType=VARCHAR}, #{record.yxzt,jdbcType=VARCHAR}, #{record.dd,jdbcType=VARCHAR},
                    #{record.bz,jdbcType=VARCHAR}, #{record.ylzd1,jdbcType=VARCHAR}, #{record.ylzd2,jdbcType=VARCHAR}, #{record.ylzd3,jdbcType=VARCHAR},
                    #{record.ylzd4,jdbcType=VARCHAR},
                    #{deptid,jdbcType=VARCHAR},#{submitter,jdbcType=VARCHAR},#{record.isdel,jdbcType=VARCHAR},#{record.zt,jdbcType=VARCHAR});
                    update app_gdzc a set sydwdm=(select id from sys_office where name=a.sydwmc) where id=@id;
                    update app_gdzc a set dl1=(select mc from app_zcfl where id=left(a.flbm,length(a.flbm)-4)) where id=@id;
                    update app_gdzc a set dl2=(select mc from app_zcfl where id=left(a.flbm,length(a.flbm)-2)) where id=@id;
                    update app_gdzc a set lb=(select mc from app_zcfl where id=a.flbm) where id=@id;
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </foreach>
        commit work;
    </insert>-->
    <insert id="insertGdzc">
        start transaction ;
        <foreach collection="list" item="record" index="index">
            <choose>
                <when test="record.zcmc!=null and record.zcmc!=''">
                    set @id:=uuid();
                    insert into app_gdzc (ID, DL1, DL2,
                    FLBM, LB, ZCMC, ERPBM,
                    ZCBM, SL, ZZPH, SYDWMC,
                    SYDWDM, ZGDWMC, ZGDWDM,
                    FZRMC, FZRDM, GGXH,
                    ZBHRQ, ZBHRQ2, YSYNX,
                    ZCYZ, ZJNX, YXZT, DD,
                    BZ, YLZD1, YLZD2, YLZD3,
                    YLZD4,DEPTID, SUBMITTER,ISDEL,ZT,OVER)
                    values (@id, #{record.dl1,jdbcType=VARCHAR}, #{record.dl2,jdbcType=VARCHAR},
                    #{record.flbm,jdbcType=VARCHAR}, #{record.lb,jdbcType=VARCHAR}, #{record.zcmc,jdbcType=VARCHAR}, #{record.erpbm,jdbcType=VARCHAR},
                    <choose>
                        <when test="record.zcbm!=null and record.zcbm!=''">
                            #{record.zcbm,jdbcType=VARCHAR},
                        </when>
                        <otherwise>
                            concat('GD',nextval('seq_zcbm')),
                        </otherwise>
                    </choose>
                    #{record.sl,jdbcType=VARCHAR}, #{record.zzph,jdbcType=VARCHAR}, #{record.sydwmc,jdbcType=VARCHAR},
                    #{record.sydwdm,jdbcType=VARCHAR}, #{record.zgdwmc,jdbcType=VARCHAR}, #{record.zgdwdm,jdbcType=VARCHAR},
                    #{record.fzrmc,jdbcType=VARCHAR}, #{record.fzrdm,jdbcType=VARCHAR}, #{record.ggxh,jdbcType=VARCHAR},
                    #{record.zbhrq,jdbcType=VARCHAR}, #{record.zbhrq2,jdbcType=DATE}, #{record.ysynx,jdbcType=VARCHAR},
                    #{record.zcyz,jdbcType=VARCHAR}, #{record.zjnx,jdbcType=VARCHAR}, #{record.yxzt,jdbcType=VARCHAR}, #{record.dd,jdbcType=VARCHAR},
                    #{record.bz,jdbcType=VARCHAR}, #{record.ylzd1,jdbcType=VARCHAR}, #{record.ylzd2,jdbcType=VARCHAR}, #{record.ylzd3,jdbcType=VARCHAR},
                    #{record.ylzd4,jdbcType=VARCHAR},
                    #{deptid,jdbcType=VARCHAR},#{submitter,jdbcType=VARCHAR},#{record.isdel,jdbcType=VARCHAR},#{record.zt,jdbcType=VARCHAR},'1');
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </foreach>
        update app_gdzc a set sydwdm=(select id from sys_office where name=a.sydwmc) where over='1';
        update app_gdzc a set dl1=(select mc from app_zcfl where id=left(a.flbm,length(a.flbm)-4)) where over='1';
        update app_gdzc a set dl2=(select mc from app_zcfl where id=left(a.flbm,length(a.flbm)-2)) where over='1';
        update app_gdzc a set lb=(select mc from app_zcfl where id=a.flbm) where over='1';
        update app_gdzc set over='' where over='1';
        commit work;
    </insert>
    <insert id="saveGdzc">
        start transaction ;
        <foreach collection="list" item="record" index="index">
            <choose>
                <when test="record.ZCMC!=null and record.ZCMC!=''">
                    set @id:=uuid();
                    insert into app_gdzc (ID, DL1, DL2,
                    FLBM, LB, ZCMC, ERPBM,
                    ZCBM, SL, ZZPH, SYDWMC,
                    SYDWDM, ZGDWMC, ZGDWDM,
                    FZRMC, FZRDM, GGXH,
                    ZBHRQ, ZBHRQ2, YSYNX,
                    ZCYZ, ZJNX, YXZT, DD,
                    BZ, YLZD1, YLZD2, YLZD3,
                    YLZD4, DEPTID,SUBMITTER,ZT)
                    values (@id, #{record.DL1,jdbcType=VARCHAR}, #{record.DL2,jdbcType=VARCHAR},
                    #{record.FLBM,jdbcType=VARCHAR}, #{record.LB,jdbcType=VARCHAR}, #{record.ZCMC,jdbcType=VARCHAR},
                    #{record.ERPBM,jdbcType=VARCHAR},
                    <choose>
                        <when test="record.ZCBM!=null and record.ZCBM!=''">
                            #{record.ZCBM,jdbcType=VARCHAR},
                        </when>
                        <otherwise>
                            concat('GD',nextval('seq_zcbm')),
                        </otherwise>
                    </choose>
                    #{record.SL,jdbcType=VARCHAR}, #{record.ZZPH,jdbcType=VARCHAR}, #{record.SYDWMC,jdbcType=VARCHAR},
                    #{record.SYDWDM,jdbcType=VARCHAR}, #{record.ZGDWMC,jdbcType=VARCHAR},
                    #{record.ZGDWDM,jdbcType=VARCHAR},
                    #{record.FZRMC,jdbcType=VARCHAR}, #{record.FZRDM,jdbcType=VARCHAR}, #{record.GGXH,jdbcType=VARCHAR},
                    #{record.ZBHRQ,jdbcType=VARCHAR}, #{record.ZBHRQ2,jdbcType=DATE}, #{record.YSYNX,jdbcType=VARCHAR},
                    #{record.ZCYZ,jdbcType=VARCHAR}, #{record.ZJNX,jdbcType=VARCHAR}, #{record.YXZT,jdbcType=VARCHAR},
                    #{record.DD,jdbcType=VARCHAR},
                    #{record.BZ,jdbcType=VARCHAR}, #{record.YLZD1,jdbcType=VARCHAR}, #{record.YLZD2,jdbcType=VARCHAR},
                    #{record.YLZD3,jdbcType=VARCHAR},
                    #{record.YLZD4,jdbcType=VARCHAR}, #{deptid,jdbcType=VARCHAR},#{submitter,jdbcType=VARCHAR},#{record.ZT,jdbcType=VARCHAR});
                    update app_gdzc a set dl1=(select mc from app_zcfl where id=left(a.flbm,length(a.flbm)-4)) where id=@id;
                    update app_gdzc a set dl2=(select mc from app_zcfl where id=left(a.flbm,length(a.flbm)-2)) where id=@id;
                    update app_gdzc a set lb=(select mc from app_zcfl where id=a.flbm) where id=@id;
                </when>
                <otherwise>

                </otherwise>
            </choose>

        </foreach>
         commit work;
    </insert>
    <insert id="saveGdzc_gc">
        start TRANSACTION ;
        <foreach collection="olist" item="record" index="index">
            <choose>
                <when test="record.ZCMC!=null and record.ZCMC!=''">
                    delete from app_gdzc_audit where zcbm=#{record.zcbm} and status!=1;
                    insert into app_gdzc_audit (ID, DL1, DL2,
                    FLBM, LB, ZCMC, ERPBM,
                    ZCBM, SL, ZZPH, SYDWMC,
                    SYDWDM, ZGDWMC, ZGDWDM,
                    FZRMC, FZRDM, GGXH,
                    ZBHRQ, ZBHRQ2, YSYNX,
                    ZCYZ, ZJNX, YXZT, DD,
                    BZ, YLZD1, YLZD2, YLZD3,
                    YLZD4, DEPTID,SUBMITTER,STATUS,RELATIONID,ZT)
                    values (uuid(), #{record.DL1,jdbcType=VARCHAR}, #{record.DL2,jdbcType=VARCHAR},
                    #{record.FLBM,jdbcType=VARCHAR}, #{record.LB,jdbcType=VARCHAR}, #{record.ZCMC,jdbcType=VARCHAR},
                    #{record.ERPBM,jdbcType=VARCHAR},
                    <choose>
                        <when test="record.ZCBM!=null and record.ZCBM!=''">
                            #{record.ZCBM,jdbcType=VARCHAR},
                        </when>
                        <otherwise>
                            concat('GD',nextval('seq_zcbm')),
                        </otherwise>
                    </choose>
                    #{record.SL,jdbcType=VARCHAR}, #{record.ZZPH,jdbcType=VARCHAR}, #{record.SYDWMC,jdbcType=VARCHAR},
                    #{record.SYDWDM,jdbcType=VARCHAR}, #{record.ZGDWMC,jdbcType=VARCHAR},
                    #{record.ZGDWDM,jdbcType=VARCHAR},
                    #{record.FZRMC,jdbcType=VARCHAR}, #{record.FZRDM,jdbcType=VARCHAR}, #{record.GGXH,jdbcType=VARCHAR},
                    #{record.ZBHRQ,jdbcType=VARCHAR}, #{record.ZBHRQ2,jdbcType=DATE}, #{record.YSYNX,jdbcType=VARCHAR},
                    #{record.ZCYZ,jdbcType=VARCHAR}, #{record.ZJNX,jdbcType=VARCHAR}, #{record.YXZT,jdbcType=VARCHAR},
                    #{record.DD,jdbcType=VARCHAR},
                    #{record.BZ,jdbcType=VARCHAR}, #{record.YLZD1,jdbcType=VARCHAR}, #{record.YLZD2,jdbcType=VARCHAR},
                    #{record.YLZD3,jdbcType=VARCHAR},
                    #{record.YLZD4,jdbcType=VARCHAR}, #{deptid,jdbcType=VARCHAR},#{submitter,jdbcType=VARCHAR},'-1',#{record.ID,jdbcType=VARCHAR},#{record.ZT,jdbcType=VARCHAR});
                </when>
                <otherwise>

                </otherwise>
            </choose>

        </foreach>
        <foreach collection="list" item="record" index="index">
            <choose>
                <when test="record.ZCMC!=null and record.ZCMC!=''">
                    <choose>
                        <when test="record.STATUS!=null and record.STATUS!=''">
                            UPDATE app_gdzc SET STATUS = '1' WHERE (zcbm, submitdate) IN
                            ( SELECT t.* FROM ( SELECT zcbm, max(SUBMITDATE) FROM app_gdzc
                            WHERE zcbm = #{record.ZCBM} GROUP BY zcbm ) t );
                        </when>
                        <otherwise>
                            insert into app_gdzc (ID, DL1, DL2,
                            FLBM, LB, ZCMC, ERPBM,
                            ZCBM, SL, ZZPH, SYDWMC,
                            SYDWDM, ZGDWMC, ZGDWDM,
                            FZRMC, FZRDM, GGXH,
                            ZBHRQ, ZBHRQ2, YSYNX,
                            ZCYZ, ZJNX, YXZT, DD,
                            BZ, YLZD1, YLZD2, YLZD3,
                            YLZD4, DEPTID,SUBMITTER,ZT)
                            values (uuid(), #{record.DL1,jdbcType=VARCHAR}, #{record.DL2,jdbcType=VARCHAR},
                            #{record.FLBM,jdbcType=VARCHAR}, #{record.LB,jdbcType=VARCHAR},
                            #{record.ZCMC,jdbcType=VARCHAR},
                            #{record.ERPBM,jdbcType=VARCHAR},
                            <choose>
                                <when test="record.ZCBM!=null and record.ZCBM!=''">
                                    #{record.ZCBM,jdbcType=VARCHAR},
                                </when>
                                <otherwise>
                                    concat('GD',nextval('seq_zcbm')),
                                </otherwise>
                            </choose>
                            #{record.SL,jdbcType=VARCHAR}, #{record.ZZPH,jdbcType=VARCHAR},
                            #{record.SYDWMC,jdbcType=VARCHAR},
                            #{record.SYDWDM,jdbcType=VARCHAR}, #{record.ZGDWMC,jdbcType=VARCHAR},
                            #{record.ZGDWDM,jdbcType=VARCHAR},
                            #{record.FZRMC,jdbcType=VARCHAR}, #{record.FZRDM,jdbcType=VARCHAR},
                            #{record.GGXH,jdbcType=VARCHAR},
                            #{record.ZBHRQ,jdbcType=VARCHAR}, #{record.ZBHRQ2,jdbcType=DATE},
                            #{record.YSYNX,jdbcType=VARCHAR},
                            #{record.ZCYZ,jdbcType=VARCHAR}, #{record.ZJNX,jdbcType=VARCHAR},
                            #{record.YXZT,jdbcType=VARCHAR},
                            #{record.DD,jdbcType=VARCHAR},
                            #{record.BZ,jdbcType=VARCHAR}, #{record.YLZD1,jdbcType=VARCHAR},
                            #{record.YLZD2,jdbcType=VARCHAR},
                            #{record.YLZD3,jdbcType=VARCHAR},
                            #{record.YLZD4,jdbcType=VARCHAR},
                            #{deptid,jdbcType=VARCHAR},#{submitter,jdbcType=VARCHAR},#{record.ZT,jdbcType=VARCHAR});
                        </otherwise>
                    </choose>

                </when>
                <otherwise>

                </otherwise>
            </choose>

        </foreach>
        commit work;
    </insert>
    <insert id="insertImg">
        insert into app_gdzc_img (ID,ZCBM,PATH,SUBMITTER,FJMC) values(uuid(),#{ZCBM},#{PATH},#{SUBMITTER},#{FJMC})
    </insert>
    <update id="saveZcdbAudit">
        start TRANSACTION ;
        <foreach collection="list" item="record" index="index">
            update app_gdzc_audit set dd=#{record.DD},bz=#{record.BZ},ylzd1=#{record.YLZD1},
            ylzd2=#{record.YLZD2},ylzd3=#{record.YLZD3},ylzd4=#{record.YLZD4}
            <if test="status!=null and status!=''">
                ,status=#{status}
            </if>
            <if test="submitter!=null and submitter!=''">
                ,submitter=#{submitter},deptid=#{deptid},SUBMITDATE=SYSDATE()
            </if>
            <if test="sher!=null and sher!=''">
                ,sher=#{sher},shdeptid=#{shdeptid},SHDATE=SYSDATE()
            </if>
            where id=#{record.ID};
            <if test="status==1">
                update app_gdzc set status =NULL where zcbm=#{record.ZCBM};
                insert into app_gdzc(ID,
                DL1,
                DL2,
                FLBM,
                LB,
                ZCMC,
                ERPBM,
                ZCBM,
                SL,
                ZZPH,
                SYDWMC,
                SYDWDM,
                ZGDWMC,
                ZGDWDM,
                FZRMC,
                FZRDM,
                GGXH,
                ZBHRQ,
                ZBHRQ2,
                YSYNX,
                ZCYZ,
                ZJNX,
                YXZT,
                DD,
                BZ,
                YLZD1,
                YLZD2,
                YLZD3,
                YLZD4,
                SUBMITTER,
                DEPTID,
                SUBMITDATE,
                ISDEL,
                STATUS,ZT
                ) select uuid(),
                DL1,
                DL2,
                FLBM,
                LB,
                ZCMC,
                ERPBM,
                ZCBM,
                SL,
                ZZPH,
                SYDWMC,
                SYDWDM,
                ZGDWMC,
                ZGDWDM,
                FZRMC,
                FZRDM,
                GGXH,
                ZBHRQ,
                ZBHRQ2,
                YSYNX,
                ZCYZ,
                ZJNX,
                YXZT,
                DD,
                BZ,
                YLZD1,
                YLZD2,
                YLZD3,
                YLZD4,
                SUBMITTER,
                DEPTID,
                SYSDATE(),
                null,
                null,ZT from app_gdzc_audit where id=#{record.ID};
            </if>
        </foreach>
        commit work;
    </update>
    <delete id="delZcdb">
        start TRANSACTION ;
        <foreach collection="list" item="record" index="index">
            <![CDATA[
            delete from  app_gdzc_audit
            where id=#{record.ID} and ifnull(status,'0')<>'1';
            update app_gdzc set status =NULL where zcbm=#{record.ZCBM};
            ]]>
        </foreach>
        commit work;
    </delete>
    <delete id="delGdzcImg">
        update app_gdzc_img set isdel='1',DELR=#{DELR},DELT=SYSDATE() where ID=#{ID}
    </delete>
    <select id="getGdzcList" resultType="com.thinkgem.jeesite.modules.app.bean.AppGdzc">
        <![CDATA[
        SELECT * from app_gdzc
        where (zcbm,submitdate) in (select zcbm,max(SUBMITDATE) from app_gdzc group by zcbm) and (isdel <>'1' or isdel is null)
        ]]>
        order by
        <if test="sort!=null and sort!=''">
            ${sort},
        </if>
        status desc,submitdate desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>
    <select id="getGdzcListM" resultType="java.util.HashMap">
        <![CDATA[
        SELECT * from app_gdzc
        where (zcbm,submitdate) in (select zcbm,max(SUBMITDATE) from app_gdzc group by zcbm)
         and (isdel <>'1' or isdel is null)
        ]]>
        <if test="c2!=null and c2!=''">
            and sydwdm in (select id from sys_office where id=#{c2} or parent_id =#{c2})
        </if>
        <if test="c4!=null and c4!=''">
             and (zcmc like CONCAT('%',#{c4},'%') or dl1 like CONCAT('%',#{c4},'%') or dl2 like CONCAT('%',#{c4},'%')
            or lb like CONCAT('%',#{c4},'%') or zzph like CONCAT('%',#{c4},'%') or ggxh like CONCAT('%',#{c4},'%'))
        </if>
        order by
        <if test="sort!=null and sort!=''">
            ${sort},
        </if>
        status desc,submitdate desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>
    <select id="getGdzcList2" resultType="com.thinkgem.jeesite.modules.app.bean.AppGdzc">
        <![CDATA[
        SELECT * from app_gdzc
        where (zcbm,submitdate) in (select zcbm,max(SUBMITDATE) from app_gdzc group by zcbm)
         and (isdel <>'1' or isdel is null)
        ]]>
        <if test="c2!=null and c2!=''">
            and sydwdm in (select id from sys_office where id=#{c2} or parent_id =#{c2})
        </if>
        order by
        <if test="sort!=null and sort!=''">
            ${sort},
        </if>
        status desc,submitdate desc
    </select>
    <select id="getGdzcByScope" resultType="java.util.HashMap">
        <![CDATA[

        SELECT * from app_gdzc
        where id in (${scope})

        ]]>
    </select>
    <select id="getGdzcAuditByScope" resultType="java.util.HashMap">
        <![CDATA[

        SELECT * from app_gdzc_audit
        where relationid in (${scope})

        ]]>
    </select>
    <select id="getGdzcListTmp" resultType="java.util.HashMap">
        <![CDATA[
        SELECT a.*,(select name from sys_office where id=a.deptid) DEPTMC,
        date_format(submitdate, '%Y%m%d %H:%i:%s') SBDATE  from app_gdzc_audit a
        where (isdel <>'1' or isdel is null)
        ]]>
        <if test="c2!=null and c2!=''">
            and deptid in (select id from sys_office where id=#{c2} or parent_id =#{c2})
        </if>
        <if test="c3!=null and c3!=''">
            and status=#{c3}
        </if>
        order by
        <if test="sort!=null and sort!=''">
            ${sort},
        </if>
        status desc,submitdate desc
        <include refid="com.base.baseMapper.pageEnd"/>
    </select>
    <select id="getGdzcListH" resultType="java.util.HashMap">
        select a.*,(select name from sys_user b where b.id=a.submitter) NNN,date_format(submitdate, '%Y%m%d %H:%i:%s') SBDATE from  app_gdzc a where zcbm =#{c5} order by SUBMITDATE desc
    </select>
    <select id="getOfficeAll" resultType="java.util.HashMap">
        select id,name,(select name from sys_office a where a.id=b.parent_id) pname from
        sys_office b where FIND_IN_SET(b.id, getChildren(#{ROOTID})) order by sort
    </select>
    <select id="getGdzcSumZcyz" resultType="java.util.HashMap">
        set @idd='',@sl='';
        select b.name ky,a.v value,b.name path,b.address name from (SELECT
          @sl id,
          IFNULL((select round(sum(zcyz),4) from app_gdzc b where FIND_IN_SET(b.SYDWDM ,@idd)),0) v,
            @idd := CAST(getChildren (a.id) AS CHAR(10000) CHARACTER SET utf8) s,
          @sl:=a.id t
        FROM
            sys_office a where FIND_IN_SET(id,getChildren(#{ROOTID}))
        union all
        select @sl,IFNULL(round(sum(zcyz),4),0) ,'','' from app_gdzc where FIND_IN_SET(SYDWDM ,@idd)) a,
        sys_office b where a.id=b.id
    </select>
    <select id="getGdzcImg" resultType="java.util.HashMap">
        <![CDATA[
        select * from app_gdzc_img where zcbm=#{c1} and (isdel <>'1' or isdel is null) order by submitdate desc
        ]]>
    </select>
</mapper>